<%- include("_header") -%>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID родителя</th>
        <th>Название родителя</th>
        <th>ID ЕИ родителя</th>
        <th>ID предка родителя</th>
      </tr>
    </thead>
    <tbody>
      <% for (const tmp of model) { %>
        <tr>
          <td><%= tmp.parent_class_id %></td>
          <td><%= tmp.parent_name %></td>
          <td><%= tmp.parent_ei_id %></td>
          <td><%= tmp.parent_parent_class_id %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<a class="btn btn-outline-dark cancel" href="/products">Обратно</a>

<%- include("_footer") -%>